In [1]:
import sqlite3
conn=sqlite3.connect('ayush.db')
print("Opened databse succesfully")

Opened databse succesfully

In [2]:
conn.execute('''CREATE TABLE patientinfo (
    patient_id INTEGER PRIMARY KEY, 
    name TEXT,
    date_of_arrival DATE,
    date_of_departure DATE,
    rent_per_day REAL  
);''')
conn.commit()
conn.close()

In [4]:
conn=sqlite3.connect('ayush.db')
conn.execute('''CREATE TABLE medicalinfo (
    patient_id INTEGER,  
    name_of_medicine TEXT,
    amount REAL, 
    particulars TEXT,
    FOREIGN KEY (patient_id) REFERENCES patientinfo(patient_id)
);''')
conn.commit()
conn.close()

In [5]:


# Connect to the SQLite database
conn = sqlite3.connect('ayush.db')

# Data for patientinfo
patients = [
    (1, 'John Doe', '2023-04-01', '2023-04-10', 100.0),
    (2, 'Jane Smith', '2023-04-05', '2023-04-15', 120.0),
    (3, 'Alice Johnson', '2023-03-20', '2023-03-25', 95.0),
    (4, 'Bob Lee', '2023-03-15', '2023-03-22', 110.0),
    (5, 'Carol White', '2023-03-10', '2023-03-15', 105.0),
    (6, 'Derek Black', '2023-02-25', '2023-03-02', 100.0),
    (7, 'Eva Green', '2023-04-01', '2023-04-08', 115.0)
]

# Data for medicalinfo
medications = [
    (1, 'Medicine A', 50.0, 'Daily dose'),
    (1, 'Medicine B', 30.0, 'Twice a day'),
    (2, 'Medicine C', 45.0, 'Once a week'),
    (3, 'Medicine D', 25.0, 'Every four hours'),
    (3, 'Medicine E', 35.0, 'Three times a day'),
    (4, 'Medicine F', 55.0, 'Once every morning'),
    (5, 'Medicine G', 40.0, 'Once at night'),
    (6, 'Medicine H', 20.0, 'Twice a week'),
    (7, 'Medicine I', 65.0, 'Every twelve hours'),
    (7, 'Medicine J', 75.0, 'Every six hours')
]

# Insert data into patientinfo
conn.executemany('''
    INSERT INTO patientinfo (patient_id, name, date_of_arrival, date_of_departure, rent_per_day) 
    VALUES (?, ?, ?, ?, ?)
''', patients)

# Insert data into medicalinfo
conn.executemany('''
    INSERT INTO medicalinfo (patient_id, name_of_medicine, amount, particulars) 
    VALUES (?, ?, ?, ?)
''', medications)

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [6]:
conn=sqlite3.connect('ayush.db')
cursor=conn.execute('''select * from patientinfo natural join medicalinfo ''') #or using tbl1 join tbl2 on tbl1.id=tbl2.id
for row in cursor:
    print(row)
conn.close()

(1, 'John Doe', '2023-04-01', '2023-04-10', 100.0, 'Medicine A', 50.0, 'Daily dose')
(1, 'John Doe', '2023-04-01', '2023-04-10', 100.0, 'Medicine B', 30.0, 'Twice a day')
(2, 'Jane Smith', '2023-04-05', '2023-04-15', 120.0, 'Medicine C', 45.0, 'Once a week')
(3, 'Alice Johnson', '2023-03-20', '2023-03-25', 95.0, 'Medicine D', 25.0, 'Every four hours')
(3, 'Alice Johnson', '2023-03-20', '2023-03-25', 95.0, 'Medicine E', 35.0, 'Three times a day')
(4, 'Bob Lee', '2023-03-15', '2023-03-22', 110.0, 'Medicine F', 55.0, 'Once every morning')
(5, 'Carol White', '2023-03-10', '2023-03-15', 105.0, 'Medicine G', 40.0, 'Once at night')
(6, 'Derek Black', '2023-02-25', '2023-03-02', 100.0, 'Medicine H', 20.0, 'Twice a week')
(7, 'Eva Green', '2023-04-01', '2023-04-08', 115.0, 'Medicine I', 65.0, 'Every twelve hours')
(7, 'Eva Green', '2023-04-01', '2023-04-08', 115.0, 'Medicine J', 75.0, 'Every six hours')

In [9]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('ayush.db')
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM patientinfo WHERE name LIKE 'J%'")
results = cursor.fetchall()

# Print results
for row in results:
    print(row)

# Close the connection
conn.close()

(1, 'John Doe', '2023-04-01', '2023-04-10', 100.0)
(2, 'Jane Smith', '2023-04-05', '2023-04-15', 120.0)

In [12]:
import sqlite3

# Function to calculate the number of days between two dates in DD-MM-YYYY format
def calculate_days(start_date, end_date):
    # Extracting day, month, and year components from the start date
     year1,month1,day1 = int(start_date[:4]), int(start_date[5:7]), int(start_date[8:])
    # Extracting day, month, and year components from the end date
     year2,month2,day2 = int(end_date[:4]), int(end_date[5:7]), int(end_date[8:])
    
    # Convert dates to "total days" for easy arithmetic (simplified model)
     total_days_start = year1 * 360 + month1 * 30 + day1
     total_days_end = year2 * 360 + month2 * 30 + day2
    
    # Calculate the difference in days
     return total_days_end - total_days_start

# Connect to the SQLite database
conn = sqlite3.connect('ayush.db')
cursor = conn.cursor()

# SQL command to fetch necessary data
query = '''
SELECT name, date_of_arrival, date_of_departure, rent_per_day
FROM patientinfo;
'''

# Execute the query
cursor.execute(query)

# Fetch all the results
results = cursor.fetchall()

# Process each record to calculate total rent
for result in results:
    name, arrival, departure, rent_per_day = result
    num_days = calculate_days(arrival, departure)
    total_rent = num_days * rent_per_day
    print(f"Name: {name}, Arrival: {arrival}, Departure: {departure}, Days: {num_days}, Daily Rent: ${rent_per_day}, Total Rent: ${total_rent}")

# Close the connection
conn.close()

Name: John Doe, Arrival: 2023-04-01, Departure: 2023-04-10, Days: 9, Daily Rent: $100.0, Total Rent: $900.0
Name: Jane Smith, Arrival: 2023-04-05, Departure: 2023-04-15, Days: 10, Daily Rent: $120.0, Total Rent: $1200.0
Name: Alice Johnson, Arrival: 2023-03-20, Departure: 2023-03-25, Days: 5, Daily Rent: $95.0, Total Rent: $475.0
Name: Bob Lee, Arrival: 2023-03-15, Departure: 2023-03-22, Days: 7, Daily Rent: $110.0, Total Rent: $770.0
Name: Carol White, Arrival: 2023-03-10, Departure: 2023-03-15, Days: 5, Daily Rent: $105.0, Total Rent: $525.0
Name: Derek Black, Arrival: 2023-02-25, Departure: 2023-03-02, Days: 7, Daily Rent: $100.0, Total Rent: $700.0
Name: Eva Green, Arrival: 2023-04-01, Departure: 2023-04-08, Days: 7, Daily Rent: $115.0, Total Rent: $805.0