In [1]:
import sqlite3
conn=sqlite3.connect('student_test.db')
print("Opened databse succesfully")

Opened databse succesfully

In [2]:
conn.execute(''' create table student 
             (Student_ID int primary key not null,
             Reg_No int not null,
             Branch text int not null,
             Sem int not null,
             Sec text not null,
             Cgpa Real not null,
             email text not null); ''')
print("Table created successfully")
conn.commit()
conn.close()

Table created successfully

In [3]:
def view_table():
    conn=sqlite3.connect('student_test.db')
    cursor=conn.execute('''select * from student
                        order by Student_ID desc ''')
    
    for row in cursor:
        print(row)

    print("Operation done successfully")
    conn.close()

In [4]:
def insert(a,b,c,d,e,f,g):   
    conn=sqlite3.connect('student_test.db')
    conn.execute('''insert into student
                values(?,?,?,?,?,?,?)''',(a,b,c,d,e,f,g))
    conn.commit()
    conn.close()

In [32]:
def search(reg_no):
    conn=sqlite3.connect('student_test.db')
    cursor=conn.execute('''select * from student where Reg_No = ?''',(reg_no,))
    rows=cursor.fetchall()
    if rows:
        for row in rows:
         print(row)
    else:
        print("No rows")
    conn.close()

In [18]:
def update(id,cgpa):
    conn=sqlite3.connect('student_test.db')
    conn.execute(''' update student
                   set Cgpa= ?
                   where Student_ID= ?''',(cgpa,id))
    
    conn.commit()
    conn.close()

In [7]:
insert(1,100,'IT',6,'A',9.0,'abc@gmail.com')

In [8]:
insert(2,200,'IT',8,'B',9.2,'def@gmail.com')

In [9]:
insert(3,300,'IT',8,'B',9.2,'def@gmail.com')
insert(4,400,'IT',8,'B',9.2,'def@gmail.com')

In [10]:
insert(5,500,'IT',8,'B',9.2,'def@gmail.com')

In [11]:
view_table()

(5, 500, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(4, 400, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(3, 300, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(2, 200, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(1, 100, 'IT', 6, 'A', 9.0, 'abc@gmail.com')
Operation done successfully

In [33]:
search(105)

No rows

In [19]:
update(1,7.0)
view_table()

(5, 500, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(4, 400, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(3, 300, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(2, 200, 'IT', 8, 'B', 9.2, 'def@gmail.com')
(1, 100, 'IT', 6, 'A', 7.0, 'abc@gmail.com')
Operation done successfully

Write a Python program to sort and display the student records which are stored in the database.(Student ID, Reg No, Branch, Semester, Section, CGPA, email)
2. Develop a Python program using data base connectivity to perform registration with required validation.
3. Write a Python program to search a specific student details from the database based on regno.
4. Write a python program to update CGPA based on student ID.

AVG

In [35]:
def avg():
    conn=sqlite3.connect('student_test.db')
    cursor=conn.execute('select cgpa from student')
    cgpa=cursor.fetchall()
    sum=0
    count=0
    for row in cgpa:
        sum+=row[0]
        count+=1
    print(sum/count)
avg()

8.76

In [36]:
def avg2():
    conn=sqlite3.connect('student_test.db')
    cursor=conn.execute('select avg(cgpa) from student')
    for row in cursor:
        print(row)
avg2()

(8.76,)

In [45]:
conn.close()

In [5]:

conn=sqlite3.connect('test.db')
conn.execute('PRAGMA foreign_keys = ON;')
conn.execute('''CREATE TABLE employees2 (
    employee_id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER,
    foreign key (department_id) references departments1(department_id)  
)''')

conn.execute('''CREATE TABLE departments1 (
    department_id INTEGER PRIMARY KEY,
    department_name TEXT
          
)''')

conn.execute(''' INSERT INTO employees2 (name, department_id) VALUES ('Alice', 1)''')
conn.execute(''' INSERT INTO employees2 (name, department_id) VALUES ('Bob', 2)''')
conn.execute('''INSERT INTO departments1 (department_id, department_name) VALUES (1, 'HR') ''')
conn.execute(''' INSERT INTO departments1 (department_id, department_name) VALUES (2, 'Finance')''')
conn.commit()
conn.close()

OperationalError: database is locked

In [41]:
conn=sqlite3.connect('test.db')
cursor=conn.execute(''' SELECT *
FROM employees
NATURAL JOIN departments''')
for row in cursor:
    print(row)

(1, 'Alice', 1, 'HR')
(2, 'Bob', 2, 'Finance')

In [43]:
conn.close()