In [2]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('student_records.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE IF NOT EXISTS students
             (student_id INTEGER PRIMARY KEY, reg_no TEXT, branch TEXT, semester INTEGER,
              section TEXT, cgpa REAL, email TEXT)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [2]:
import sqlite3
def display_sorted_records():
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    # Sort by CGPA for example; you can sort by any column
    c.execute('select * From sTUDENTS Order By cgpa Desc')
    records = c.fetchall()
    
    for row in records:
        print(row)
    
    conn.close()

display_sorted_records()

(15, 'REG156', 'CS', 6, 'B', 9.9, 'student15@example.com')
(7, 'REG129', 'ECE', 3, 'G', 9.4, 'student7@example.com')
(3, 'REG125', 'EE', 2, 'C', 9.1, 'student3@example.com')
(12, 'REG134', 'CE', 5, 'D', 9.0, 'student12@example.com')
(9, 'REG131', 'CS', 7, 'A', 8.6, 'student9@example.com')
(4, 'REG126', 'ME', 4, 'D', 8.2, 'student4@example.com')
(8, 'REG130', 'BT', 5, 'H', 7.9, 'student8@example.com')
(5, 'REG127', 'CE', 6, 'E', 7.5, 'student5@example.com')
(10, 'REG132', 'IT', 4, 'B', 7.2, 'student10@example.com')
(2, 'REG124', 'IT', 5, 'B', 7.0, 'student2@example.com')
(6, 'REG128', 'AE', 1, 'F', 6.8, 'student6@example.com')
(11, 'REG133', 'ME', 2, 'C', 6.5, 'student11@example.com')

In [6]:
def register_student(student_id, reg_no, branch, semester, section, cgpa, email):
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    # Check if the email already exists
    c.execute('SELECT * FROM students WHERE email = ?', (email,))
    if c.fetchone():
        print("Email already exists.")
        return
    
    # Insert a new record
    c.execute('INSERT INTO students VALUES (?, ?, ?, ?, ?, ?, ?)',
              (student_id, reg_no, branch, semester, section, cgpa, email))
    
    conn.commit()
    print("Student registered successfully.")
    conn.close()

# Example usage
register_student(1, "REG123", "CS", 3, "A", 8.5, "student@example.com")

Email already exists.

In [23]:
register_student(15, "REG156", "CS", 6, "B", 9.9, "student15@example.com")

Student registered successfully.

In [4]:
conn = sqlite3.connect('student_records.db')
c = conn.cursor()
# Insert a new record
c.execute('INSERT INTO students VALUES (?, ?, ?, ?, ?, ?, ?)',
              (15, "REG156", "CS", 6, "B", 9.9, "student15@example.com"))
    
conn.commit()
print("Student registered successfully.")
conn.close()

Student registered successfully.

In [22]:
register_student(2, "REG124", "IT", 5, "B", 7, "student2@example.com")

Email already exists.

In [5]:
register_student(3, "REG125", "EE", 2, "C", 9.1, "student3@example.com")
register_student(4, "REG126", "ME", 4, "D", 8.2, "student4@example.com")
register_student(5, "REG127", "CE", 6, "E", 7.5, "student5@example.com")
register_student(6, "REG128", "AE", 1, "F", 6.8, "student6@example.com")
register_student(7, "REG129", "ECE", 3, "G", 9.4, "student7@example.com")
register_student(8, "REG130", "BT", 5, "H", 7.9, "student8@example.com")
register_student(9, "REG131", "CS", 7, "A", 8.6, "student9@example.com")
register_student(10, "REG132", "IT", 4, "B", 7.2, "student10@example.com")
register_student(11, "REG133", "ME", 2, "C", 6.5, "student11@example.com")
register_student(12, "REG134", "CE", 5, "D", 9.0, "student12@example.com")

Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.
Student registered successfully.

In [7]:
def search_student(reg_no):
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    c.execute('SELECT * FROM students WHERE reg_no = ?', (reg_no,))
    student = c.fetchone()
    
    if student:
        print(student)
    else:
        print("Student not found.")
    
    conn.close()

# Example usage
search_student("REG123")

(1, 'REG123', 'CS', 3, 'A', 8.5, 'student@example.com')

In [8]:
def update_cgpa(student_id, new_cgpa):
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    c.execute('UPDATE students SET cgpa = ? WHERE student_id = ?', (new_cgpa, student_id))
    
    if c.rowcount == 0:
        print("Student not found.")
    else:
        print("CGPA updated successfully.")
    
    conn.commit()
    conn.close()

# Example usage
update_cgpa(1, 9.0)

CGPA updated successfully.

In [3]:
def delete_student(student_id):
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    c.execute('DELETE FROM students WHERE student_id = ?', (student_id,))
    conn.commit()
    
    if c.rowcount == 0:
        print("Student not found.")
    else:
        print("Student deleted successfully.")
    
    conn.close()

# Example usage
delete_student(15)

Student deleted successfully.

In [8]:
import re

def validate_customer_data(phone, email):
    phone_pattern = re.compile(r'^\+?1?\d{9,15}$')  # Simplified pattern
    email_pattern = re.compile(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$')
    
    valid_phone = phone_pattern.match(phone) is not None
    valid_email = email_pattern.match(email) is not None
    
    return valid_phone and valid_email

# Example usage
print(validate_customer_data("+1234567890", "customer@example.com"))

True

In [12]:
import sqlite3

def create_marks_table():
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    # Create the 'marks' table
    c.execute('''CREATE TABLE IF NOT EXISTS marks
                 (student_id INTEGER, subject TEXT, mark INTEGER,
                  FOREIGN KEY (student_id) REFERENCES students(student_id))''')
    
    conn.commit()
    conn.close()

create_marks_table()

In [13]:
def populate_marks():
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    # Sample data: (student_id, subject, mark)
    sample_marks = [
        (1, 'Mathematics', 85),
        (1, 'Physics', 90),
        (1, 'Chemistry', 95),
        (1, 'Biology', 80),
        (1, 'English', 75)
    ]
    
    # Insert the sample data into the 'marks' table
    c.executemany('INSERT INTO marks (student_id, subject, mark) VALUES (?, ?, ?)', sample_marks)
    
    conn.commit()
    conn.close()

populate_marks()

In [14]:
def compute_total_and_grade(student_id):
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    # Assuming a table 'marks' with columns 'student_id', 'subject', and 'mark'
    c.execute('SELECT mark FROM marks WHERE student_id = ?', (student_id,))
    marks = c.fetchall()
    
    total = sum(mark[0] for mark in marks)
    average = total / len(marks)
    
    if average >= 90:
        grade = 'A'
    elif average >= 75:
        grade = 'B'
    elif average >= 60:
        grade = 'C'
    else:
        grade = 'D'
    
    print(f"Total Marks: {total}, Grade: {grade}")
    
    conn.close()

# Example usage
compute_total_and_grade(1)

Total Marks: 425, Grade: B

In [10]:
import sqlite3

def create_and_populate_customers():
    conn = sqlite3.connect('customer_records.db')
    c = conn.cursor()
    
    # Create the 'customers' table
    c.execute('''CREATE TABLE IF NOT EXISTS customers
                 (account_number INTEGER PRIMARY KEY, name TEXT, balance REAL)''')
    
    # Insert some sample data
    customers = [
        (12345, 'John Doe', 60000),
        (67890, 'Jane Doe', 45000),
        (11223, 'Jim Bean', 80000),
        (44556, 'Jill Hill', 120000),
        (77889, 'Jack Black', 55000)
    ]
    
    # To prevent duplicate entries for the same account number,
    # check if the table is empty before inserting.
    c.execute('SELECT * FROM customers')
    if not c.fetchall():  # Only insert if the table is empty
        c.executemany('INSERT INTO customers VALUES (?, ?, ?)', customers)
        conn.commit()
        print("Customers added to the database.")
    else:
        print("Database already populated.")

    conn.close()

create_and_populate_customers()

Customers added to the database.

In [ ]:
import sqlite3

def generate_branch_semester_report():
    conn = sqlite3.connect('student_records.db')
    c = conn.cursor()
    
    query = """
    SELECT 
        BranchSemester.branch, 
        BranchSemester.semester, 
        BranchSemester.avg_cgpa,
        (SELECT COUNT(DISTINCT avg_cgpa) FROM 
            (SELECT branch, semester, AVG(cgpa) as avg_cgpa 
             FROM students 
             GROUP BY branch, semester) as RankedBranches 
         WHERE RankedBranches.avg_cgpa > BranchSemester.avg_cgpa) + 1 as Rank
    FROM 
        (SELECT branch, semester, AVG(cgpa) as avg_cgpa 
         FROM students 
         GROUP BY branch, semester) as BranchSemester
    ORDER BY 
        Rank;
    """
    
    c.execute(query)
    results = c.fetchall()
    
    for row in results:
        print(f"Branch: {row[0]}, Semester: {row[1]}, Avg CGPA: {row[2]:.2f}, Rank: {row[3]}")
    
    conn.close()

generate_branch_semester_report()

In [5]:
SELECT student_id, branch, cgpa
FROM (
  SELECT student_id, branch, cgpa,
         RANK() OVER (PARTITION BY branch ORDER BY cgpa DESC) as rank
  FROM students
) AS RankedStudents
WHERE rank <= 3;

SyntaxError: invalid syntax (255495854.py, line 1)

In [ ]:
SELECT semester, avg_cgpa,
       RANK() OVER (ORDER BY avg_cgpa DESC) as rank
FROM (
  SELECT semester, AVG(cgpa) as avg_cgpa
  FROM students
  GROUP BY semester
) AS SemesterAverages
ORDER BY rank;

In [ ]:
SELECT s.student_id, s.reg_no, s.cgpa
FROM students s
JOIN (
  SELECT semester, AVG(cgpa) as avg_cgpa
  FROM students
  GROUP BY semester
) AS SemesterAvg ON s.semester = SemesterAvg.semester
WHERE s.cgpa > SemesterAvg.avg_cgpa;

In [ ]:
SELECT branch, MAX(cgpa) - MIN(cgpa) as cgpa_range
FROM students
GROUP BY branch;

In [ ]:
SELECT branch, AVG(cgpa) as avg_cgpa
FROM students
GROUP BY branch
HAVING AVG(cgpa) > 8.0
ORDER BY avg_cgpa DESC;

In [ ]:
SELECT branch, COUNT(*) as num_students_above_avg
FROM students
WHERE cgpa > (
    SELECT AVG(cgpa)
    FROM students AS s2
    WHERE s2.branch = students.branch
)
GROUP BY branch;