In [1]:
import sqlite3
conn=sqlite3.connect('test.db')

In [2]:
conn.execute(''' create table student 
             (Student_ID int primary key ,
             Reg_No int ,
             Branch text int ,
             Sem int ,
             Sec text ,
             Cgpa Real ,
             email text) ''')
print("Table created successfully")
conn.commit()
conn.close()

Table created successfully

In [3]:
def insert(a,b,c):   
    conn=sqlite3.connect('test.db')
    conn.execute('''insert into student(Student_ID,Reg_No,Branch)
                values(?,?,?)''',(a,b,c))
    conn.commit()
    conn.close()

In [4]:
insert(1,100,'IT')

In [11]:
insert(2,100,'IT',6,'A',9.0,'abc@gmail.com')

In [1]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('test2.db')

# Enable foreign key support
conn.execute('PRAGMA foreign_keys = ON;')

# Create the departments table
conn.execute('''
CREATE TABLE departments1 (
    department_id INTEGER PRIMARY KEY,
    department_name TEXT
)''')

# Create the employees table with a foreign key referencing departments
conn.execute('''
CREATE TABLE employees1 (
    employee_id INTEGER PRIMARY KEY,
    name TEXT,
    department_id INTEGER,
    FOREIGN KEY (department_id) REFERENCES departments1(department_id)        
)''')

# Insert data into departments
conn.execute('''INSERT INTO departments1 (department_id, department_name) VALUES (1, 'HR') ''')
conn.execute('''INSERT INTO departments1 (department_id, department_name) VALUES (2, 'Finance')''')

# Insert data into employees
conn.execute('''INSERT INTO employees1 (name, department_id) VALUES ('Alice', 1)''')
conn.execute('''INSERT INTO employees1 (name, department_id) VALUES ('Bob', 2)''')

# Commit the changes and close the connection
conn.commit()
conn.close()